{
  "plugins": ["prettier-plugin-tailwindcss"],
  "semi": true,
  "tabWidth": 4,
  "useTabs": false,
  "singleQuote": true,
  "printWidth": 100,
  "trailingComma": "none",
  "endOfLine": "auto",
  "overrides": [
    {
      "files": "**/package.json",
      "options": {
        "tabWidth": 2
      }
    }
  ]
}
